<div class="page"><div class="login-container">
  <h2>User LogIn</h2>
<form class="loginForm" [formGroup]="loginForm" (ngSubmit)="loginbtn()">
  <input type="text" name="email" placeholder="email" formControlName="email" />
  @if (email?.errors?.['email'] && email?.touched) {
    <span class="error">Enter a vaild email </span>
  }

  <input type="password" name="password" placeholder="password" formControlName="password" />
  @if (password?.errors?.['required'] && password?.touched) {
    <span class="error">password is required</span>
  }
  @if (password?.errors?.['minlength'] && password?.touched) {
    <span class="error"> passsword must be at least 8 characters</span>
  }
  <button type="submit" [disabled]="loginForm.invalid" >Log In</button>
</form>
<a routerLink="/admin-login">Admin Login</a>
</div></div>

